@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Trocchi&display=swap');


/* just for testing */
.row-1{
  background-color: paleturquoise;
}

.row-2{
  background-color: palegreen;
}

.row-3{
  background-color: palegoldenrod;
}


/* 
  Global styling
*/
/* * {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
} */

:root {
  /* Initialise gloabl vars */
  /* Sans-Serif font family fallbacks: Arial, Helvetica, sans-serif */
  /* Serif font family fallbacks: Georgia, Times, serif */

  --bg-colour: #eef4f4; /* sitewide background colour */
  --text-colour: #000; /* sitewide text colour */
  --logo-colour: brown;
  /* --header-font-family: "Lora", serif; */
  --text-font-family: Arial, Helvetica, sans-serif;
  --logo-font-family: "Trocchi", serif;
  --text-font-size: 1rem;
}

body {
  background-color: var(--bg-colour) !important;
  color: var(--text-colour);
  font-family: var(--text-font-family);
  font-size: var(--text-font-size);
}


/* 
  Navbar
*/
.logo {
  font: var(--logo-font-family, Georgia, Times, serif) !important;
  font-size: x-large !important;
  font-weight: bold !important;
  color:  var(--logo-colour);
}


/* 
  Footer
*/
.social-link {
  color: black;
}

/* 
  Main home screen
*/
.card-max-h {
  height: 36rem;
}

.card-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
}

.image-container {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.bookcover-img {
  height: 15rem;
}

.header-banner {
  background-color: antiquewhite;
  display: flex;
  align-items: center;
}

/*** Meetup Details **************************************/
/* 
*/


/*** Book List/Library **************************************/
/* 
  Booklist booktitle: rotate arrow to show expanded state
*/
h5 > a[aria-expanded="true"] .fa-circle-down {
  transform: rotate(180deg);
  transition: transform .5s;
}


/*
* Star rating for books
*/
.star-off {
  color: grey;
}

.star-on {
  color: gold;
}


 /*
 * Bootstrap v4.6.1 (https://getbootstrap.com/)
 */

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0rem;
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}

.card-title {
  margin-bottom: 0.75rem;
}

.card-header {
  /* padding: 0.75rem 1.25rem; */
  padding: 0.25.rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}
/*
 * END END END Bootstrap v4.6.1 
 */
