@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap');

/* 
  Global styling
*/

:root {
  /* Initialise gloabl vars */
  /* Sans-Serif font family fallbacks: Arial, Helvetica, sans-serif */
  /* Serif font family fallbacks: Georgia, Times, serif */

  --bg-colour: rgb(215, 243, 243); /* background colour */
  --header-font-family: "Lato", serif;
  --text-font-family: "Lato", serif;
  --logo-font-family: "Times", serif;
  /* --text-font-size: 1rem; */
  --btn-font-size: 1.6rem;
  --btn-colour: #9acd32;
  --btn-active-colour: #aaff01;
}

body {
  /* background-color: var(--bg-colour); */
  background-color: white;
  color: #000;
  /* font-family: var(--text-font-family, Georgia, Times, serif); */
  font-size: var(--text-font-size);
}


/* 
  Navbar
*/
.logo {
  font: var(--logo-font-family);
  font-weight: bold;
  color: brown;
}


/* 
  Footer
*/
.social-link {
  color: black;
}

/* 
  Main home screen
*/
.card-max-h {
  height: 36rem;
}

.card-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
}

.image-container {
    align-items: center;
    display: flex;
    justify-content: center;
}

.bookcover-img {
  width: 50%;
}

