{% extends "base.html" %}
{% load static %}
{% block title %}About Us{% endblock title %}

<!-- nav-bar: add 'active' class to the nav-link -->
{% block nav_about %}active{% endblock %}

{% block content %}
<div class="container-fluid">
  <!-- banner-header -->
  <div class="row justify-content-center">
    <div class="card col-md-8 mt-2 mb-3 shadow">
      <div class="card-body" >
        <div class="row">
          <div>
            <h1 class="text-center">About The Dublin Book Club Meetup Group</h1>
            <h3 class="text-center">We like to read. We meet in a pub.</h3>
            <h3 class="text-center">Join us!</h3>
          </div>
          <hr>
          <div>
            <p>
              We love to read and we don't do coffee mornings 
              in the parish hall. We are an easy going bunch. 
              This is about the enjoyment of reading and making new friends 
              in a relaxed social setting.  Come and make some new friends,
              share a laugh, have a few drinks, have something to eat, 
              talk about all types of topics & generally just have a good time. 
            </p>
            <p>Stuff you might like to know:</p>
            <ul>
              <li>We meet on the third Tuesday of each month at the "Great Dublin Pub"</li>
              <li>We have members of all ages (18+) from all walks of life. Everyone’s welcome!</li>
              <li>Books are recommended by members via e-mail or at the meetup.</li>
              <li>The recommendation shortlist consists of 10 to 15 books. When new books are
                recommended, the oldest ones are removed from the list.</li>
              <li>You can vote for the book you want to read at the meetup, 
                or alternatively via email. The day after the meetup, all votes 
                are counted & the book with the most amount of votes will 
                be posted on the website.</li>
              <li>Votes accumulate: if you voted for a certain book but it didn't get 
                enough votes to be one of this month's favourites, the votes still stand. 
                When new votes for that book come in next month, it might be one of the 
                two with the most total votes, hence one we're going to read!</li>
            </ul>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}