{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid">
  <div class="row">

    <!-- List books in collapsible accordion style -->
    {% for book in book_list %}
    <div class="container">
      <div id="accordion">
        <div class="card">
          <div class="card-text" id="booktitile-{{book.id}}">
            <h5>
              <button class="btn btn-link collapsed" data-toggle="collapse"
                          data-target="#book-{{book.id}}" aria-expanded="false"
                          aria-controls="book-{{book.id}}">
                {{ book.long_title}}
              </button>
            </h5>
          </div>
        </div>
        <div id="book-{{book.id}}" class="collapse" aria-labelledby="booktitile-{{book.id}}" data-parent="#accordion">
          <div class="card-body">
            {{ book.synopsis }}
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    <!-- /booklist -->

  </div>
</div>
{% endblock content %}