{% extends "base.html" %}
{% block content %}

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="card shadow">
      <div class="card-body">

        <h1>Delete Meetup</h1>
        <hr>
        <p>{{ meetup.long_title }}</p>
        <p>Are you sure you want to delete?</p>
        <hr>
        <form method="post" action="{% url 'meetup-delete' meetup.pk %}">
          {% csrf_token %}
          <button class="btn btn-danger" type="submit">Confirm</button>
          <a class="btn btn-secondary" href="{% url 'meetup_detail' meetup.pk %}">Cancel</a>
        </form>
        
      </div>
    </card>
  </div>
</div>

{% endblock %}
