{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">


  <!-- Meetup details in a central card -->
  <div class="row">
    <div class="col-sm py-4">
      <div class="card shadow">
        <div class="card-header d-flex">
          <div class="col-6" >{{ meetup.long_title }}</div>
          <div class="col-6 card-text text-right">
            <!-- If user is organiser show additional options-->
            {% if request.user.is_staff  %}
            <a href="{% url 'meetup-delete' meetup.pk %}" class="btn btn-outline-danger me-4" ><i class="fa-regular fa-trash-can"></i></a>
            <a href="{% url 'meetup-update' meetup.pk %}" class="btn btn-outline-info" ><i class="fa-regular fa-edit"></i></a>
            {% endif %}
        </div>

        </div>
        <div class="card-body">
          <div class="row">
            <!-- image container -->
            <div class="col image-container">
                {% if "placeholder" in meetup.book1.cover_image.url %}
                <img class="bookcover-img"
                    src="{% static 'media/penguin-book-cover.png' %}" alt="bookcover image placeholder">
                {% else %}
                <img class="bookcover-img" src=" {{ meetup.book1.cover_image.url }}" alt="bookcover image">
                {% endif %}
            </div>
            <!-- end image-container -->
            
            <div class="col-8">
              <div class="card-body">
                <p class="card-text"><h3>{{ meetup.book1_detail.title }}</h3></p>
                <p class="card-text"><h4>{{  meetup.book1_detail.author }}</h4></p>
                <p class="card-text">First Published: {{ meetup.book1.year_published }}</p>
                <hr>
                  <p class="card-text">{{ meetup.book1.synopsis |linebreaks }}</p>
                  <hr>
                  <p class="card-text">Members' Rating: {{ meetup.book1.members_rating }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="px-2">
            <p>Organiser's Note:</p>
            <p>{{ meetup.details |linebreaks }}</p></div>
            <p class="text-center small text-muted">Organised by {{ meetup.modified_by }} | Last updated {{ meetup.last_modified }}</p>
        </div>
      </div>
    </div>
  </div>
  <!-- end details container card -->

  <!-- Meetup comments in a central card -->
  <div class="row">
    <div class="col-sm py-2">
      <div class="card shadow">
        <div class="card-header">
          <div class="row justify-content-between align-items-center">
            <div class="ml-4">
              {% if user.is_authenticated %}
              <!-- Show a btn to Leave a comment -->
              <a href="#meetup-comment-form" data-toggle="collapse" class="btn btn-primary"
                aria-expanded="false" aria-controls="meetup-comment-form">Leave a Comment</a>
              {% else %}
              <a href="{% url 'account_login' %}" class="btn btn-primary">Login to join the discussion</a>
              {% endif %}
            </div>
            <div class="mr-4 card-text"><strong>{{ meetup.no_of_comments }} Comment{{ meetup.no_of_comments|pluralize }}</strong></div>
        </div>
      </div>
        <!-- end comments header -->

        <!-- begin list of comments -->
        <div class="card-body">
            {% for comment in comments %}
            <div class="comments">
                <p class="card-text">
                  <span>
                    <!-- if it's the user's comment then allow delete -->
                    {% if user.is_authenticated and user.id == comment.user.id %}
                    <a href="{% url 'comment-delete' comment.pk %}" class="btn-sm btn-outline-danger me-4" ><i class="fa-regular fa-trash-can"></i></a>
                    {% endif %}
                  </span>
                  <span class="small text-muted font-weight-normal">
                    {{ comment.created_on }}
                  </span>
                  <strong>{{ comment.username }} </strong>wrote:
                </p>

                <p>
                {{ comment.body | linebreaks }}
                </p>
              <hr>
            </div>
            {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <!-- end comments container card -->

  <!-- Form to post a comment goes here -->
  <div class="row">
    <div class="col-sm py-2">
      <div id="meetup-comment-form" class="collapse">
        <div class="card shadow">
          <div class="card-header">
            Posting as: {{ user.username }}
          </div>
          <div class="card-body">
            <form method="POST">
              {{ comment_form | crispy }}
              {% csrf_token %}
              <button type="submit" class="btn btn-success btn-lg">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- end container -->
{% endblock content %}