{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="card col-md-8 col-lg-6 my-2 py-2">
      <h1>{% trans "Sign In" %}</h1>
      <p>{% blocktrans %}If you have not created an account yet, then please
      <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form|crispy }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <div class="row justify-content-between align-items-center">
          <div><button class="btn btn-info primaryAction ml-3" type="submit">{% trans "Sign In" %}</button></div>
          <div><a class="button secondaryAction mr-3" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a></div>
        </div>
      </form>
    </div>
    <!-- end card -->
  </div>
</div>

{% endblock %}
