{% extends "base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

<!-- Nav Bar: add 'active' class to the nav-link -->
{% block nav_logout %}active{% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="card col-8 col-md-6 col-lg-4 my-2 py-2">

      <h1>{% trans "Sign Out" %}</h1>

      <p>{% trans 'Are you sure you want to sign out?' %}</p>

      <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <button class="btn btn-info" type="submit">{% trans 'Sign Out' %}</button>
      </form>

    </div>
    <!-- end card -->
  </div>
</div>

{% endblock %}
